@import url('https://api.fontshare.com/v2/css?f[]=clash-display@200,300,400,500,600,700&f[]=satoshi@300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #E3FB29;
  --color-secondary: #262626;
  --color-background: #000000;
  --color-text-primary: #FFFFFF;
  --color-text-secondary: #A3A3A3;
  --color-accent: #E3FB29;

  --font-heading: "Clash Display", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-creative: "Satoshi", sans-serif;
  --font-lexend: "Lexend Exa", sans-serif;

  --shadow-soft-glow: 0 0 20px rgba(227, 251, 41, 0.2);
}

:root {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  font-family: var(--font-body);
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}